version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins-server
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home  
    user: root  
    environment:
      - JENKINS_OPTS="--httpPort=8080"

volumes:
  jenkins_home:  